*.pyc
examples/
tools/Bismark_v0.19.1/
tools/Report/
tools/metilene/
tools/R-3.5.3.tar.gz
ref/Chlorocebus_sabaeus/
ref/Macaca_fascicularis/
ref/Sus_scrofa/
ref/Homo_sapiens/
ref/hg19/
ref/Mus_musculus/
